# Example env for seeker-service

DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*

DB_NAME=seeker_db
DB_USER=seeker_user
DB_PASSWORD=seeker_password
DB_HOST=mysql_seeker
DB_PORT=3306

MEDIA_ROOT=/data/media
MEDIA_URL=/media/

MAX_RESUME_SIZE_MB=5

# SITE
SITE_URL=http://localhost:8080
